* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  --colorOfFirstNavbar: rgb(117, 117, 117);
  --blueColor: #00b7f2;
  --brownColor: #373737;
}

body {
  position: relative;
}

.navbars {
  position: relative;
  z-index: 2;
  width: 100%;
}

/* .first_top_navbar,
.second_top_navbar {
    position: relative;
    z-index: 2;
} */

.first_top_navbar {
  width: 100%;
  height: 50px;
  background-color: black;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 180px;
}

.first_top_navbar > ul {
  display: flex;
}

.first_top_navbar > ul > li {
  list-style: none;
  margin-right: 30px;
}

.first_top_navbar > ul a {
  text-decoration: none;
  color: var(--colorOfFirstNavbar);
}

.first_top_navbar input {
  height: 30px;
  width: 170px;
  padding-left: 10px;

  border-radius: 4px;
  border: 1px solid var(--colorOfFirstNavbar);

  color: var(--colorOfFirstNavbar);
  background-color: transparent;
}

.second_top_navbar {
  background-color: #252525;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo img {
  float: left;
  width: 194px;
  height: 85px;
  border: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1164px;
  height: 95px;
}

.secondary_logo img {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.menu_icon img {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.third_top_navbar {
  background-color: #ffffff;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.second_container {
  margin-left: auto;
  margin-right: auto;
  width: 1164px;
  height: 60px;
}

.hero_content {
  position: relative;
  top: 15%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  color: #ffffff;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.Exuma {
  font-size: 27px;
  font-family: "Open Sans";
  color: rgb(55, 55, 55);
  position: relative;
  left: 171.469px;
  top: 0px;
  width: 821px;
  height: 164px;
  z-index: 322;
  margin-top: 113px;
  margin-left: 175px;
}

.Exuma h1 {
  bottom: 410px;
  position: relative;
  top: 73px;
}
.sandals_club_logo img {
  position: absolute;
  z-index: 100;
  left: 815px;
}
.Logo_Sandals {
  position: relative;
  height: 377px;
  width: 347px;
}
.Exuma p {
  position: relative;
  bottom: 390px;
  top: 75px;
  left: 2px;
}
.background img {
  position: relative;
  top: 15%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  top: -365.55px;
  width: 100%;

  color: #ffffff;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
.Green_F h1,
h2 {
  position: relative;
  font-size: 50px;
  font-family: "Open Sans";
  color: rgb(55, 55, 55);
  text-transform: uppercase;
  line-height: 2.6;
  text-align: center;
  position: absolute;
  left: 615.867px;
  top: 1800.15px;
  z-index: 318;
}
.Green_F h2 {
  top: 1880.15px;
  left: 775.867px;
  font-size: 25px;
}
.offer1 img {
  position: relative;
  height: 558px;
  width: 359px;
  top: 622px;
  left: 364px;
}
.offer2 img {
  position: relative;
  height: 558px;
  width: 359px;
  left: 755px;
  top: 60px;
}
.offer3 img {
  position: relative;
  height: 558px;
  width: 359px;
  left: 1150px;
  bottom: 502px;
}
.sir img {
  position: absolute;
  z-index: 100;
  bottom: 367.3px;
  left: 1452px;
}
.outer_circle img {
  position: absolute;
  z-index: 100;
  left: 914px;
  bottom: 675.3px;
}
.inner_circle img {
  position: absolute;
  z-index: 100;
  bottom: 690.3px;
  left: 927px;
  right: 994.017px;
}

.Circle_paragraph img {
  position: absolute;
  z-index: 100;
  left: 972px;
  top: 3127.83px;
}
.award img {
  position: absolute;
  z-index: 100;
  left: 967px;
  margin-top: 187px;
}
.circle_club_logo img {
  position: absolute;
  z-index: 100;
  left: 878px;
  top: 70px;
}
.sphere_sandals_logo {
  position: absolute;
  z-index: 100;
  left: 892px;
  top: 83px;
}
.white_rectangle img {
  position: absolute;
  z-index: 100;
  top: 3400.13px;
  left: 431px;
}
.Text_rectangle img {
  position: absolute;
  bottom: 270px;
  z-index: 100;
  left: 567px;
}
.bahamas_logo {
  position: absolute;
  z-index: 100;
  left: 872px;
  bottom: 114.5px;
}
.grey_rectangle img {
  position: absolute;
  z-index: 100;
  left: 446px;
  bottom: 88px;
}
.small_rect img {
  position: absolute;
  z-index: 100;
  left: 994px;
  bottom: 107px;
}
.korn_ferry img {
  position: absolute;
  z-index: 100;
  left: 1040px;
  bottom: 109px;
}
.redirect input {
  position: absolute;
  z-index: 100;
  left: 904px;
  bottom: 220px;
}
.blue_button img {
  position: absolute;
  z-index: 100;
  left: 864px;
  bottom: 216px;
}
.triangle img {
  position: absolute;
  z-index: 100;
  left: 875px;
  bottom: 223px;
}
.image1 img {
  position: absolute;
  z-index: 100;
  left: 421px;
  top: 3976.13px;
}
.image2 img {
  position: absolute;
  z-index: 100;
  left: 819px;
  top: 3976.13px;
}
.image3 img {
  position: absolute;
  z-index: 100;
  left: 421px;
  top: 4242.13px;
}
.image4 img {
  position: absolute;
  z-index: 100;
  left: 421px;
  top: 4530.13px;
}
.image5 img {
  position: absolute;
  z-index: 100;
  left: 1087px;
  top: 4531.13px;
}
.course_details img {
  position: absolute;
  z-index: 100;
  top: 4991px;
  left: 815px;
}
.first_block img {
  position: absolute;
  z-index: 100;
  top: 5093.13px;
  left: 421px;
}
.course_text img {
  position: absolute;
  z-index: 100;
  top: 5146.13px;
  left: 495px;
}
.grey_line img {
  position: absolute;
  z-index: 100;
  top: 5176.13px;
  left: 498px;
}
.second_block img {
  position: absolute;
  z-index: 100;
  left: 1003px;
  top: 5094.13px;
}
.text_facilities2 img {
  position: absolute;
  z-index: 100;
  top: 5152px;
  left: 1081px;
}
.thin_line2 img {
  position: absolute;
  z-index: 100;
  top: 5184.13px;
  left: 1073px;
}
.green_fees img {
  position: absolute;
  z-index: 100;
  top: 5387px;
  left: 425px;
}
.green_fees_text img {
  position: absolute;
  z-index: 100;
  top: 5448px;
  left: 497px;
}
.green_fees_thinn img {
  position: absolute;
  z-index: 100;
  top: 5477px;
  left: 496px;
}
.white_block_tables img {
  position: absolute;
  z-index: 100;
  top: 5710px;
  left: 425px;
}
.thinn_usga img {
  position: absolute;
  z-index: 100;
  top: 5793px;
  left: 505px;
}

.usga_text img {
  position: absolute;
  z-index: 100;
  left: 509px;
  top: 5772px;
}
.usga_logo img {
  position: absolute;
  z-index: 100;
  left: 830px;
  top: 5750px;
}
.mens_table img {
  position: absolute;
  z-index: 100;
  top: 5964px;
  left: 516px;
}
.side_gentlmen img {
  position: absolute;
  z-index: 100;
  top: 5964px;
  left: 516px;
}
.top_table_part img {
  position: absolute;
  z-index: 100;
  left: 516px;
  top: 5963px;
}
.gentlemen_banner img {
  position: absolute;
  z-index: 100;
  left: 522px;
  top: 6010px;
}
.tee img {
  position: absolute;
  z-index: 100;
  left: 560px;
  top: 5974px;
}
.first_division {
  position: absolute;
  z-index: 100;
  top: 5980px;
  left: 537px;
}
.first_division2 {
  position: absolute;
  z-index: 100;
  top: 6010px;
  left: 537px;
}
.first_division3 {
  position: absolute;
  z-index: 100;
  top: 6076px;
  left: 537px;
}
.first_division4 {
  position: absolute;
  z-index: 100;
  top: 6045px;
  left: 537px;
}
.first_division5 {
  position: absolute;
  z-index: 100;
  top: 5980px;
  left: 537px;
}
.men_rectangle img {
  position: absolute;
  z-index: 100;
  left: 621px;
  top: 5964px;
}
.men_rectangle2 img {
  position: absolute;
  z-index: 100;
  left: 710px;
  top: 5964px;
}
.men_rectangle3 img {
  position: absolute;
  z-index: 100;
  left: 802px;
  top: 5964px;
}
.course_div img {
  position: absolute;
  z-index: 100;
  top: 5973px;
  left: 645px;
}
.slope img {
  position: absolute;
  z-index: 100;
  top: 5973px;
  left: 740px;
}
.yardage img {
  position: absolute;
  z-index: 100;
  top: 5973px;
  left: 840px;
}
.color1 img {
  position: absolute;
  z-index: 100;
  left: 537px;
  top: 5996px;
}
.color2 img {
  position: absolute;
  z-index: 100;
  top: 6026px;
  left: 537px;
}
.color3 img {
  position: absolute;
  z-index: 100;
  left: 537px;
  top: 6062px;
}
.female_table img {
  position: absolute;
  z-index: 100;
  top: 5830px;
  left: 515px;
}
.black_box_female img {
  position: absolute;
  z-index: 100;
  top: 5830px;
  left: 515px;
}
.female img {
  position: absolute;
  z-index: 100;
  top: 5859px;
  left: 522px;
}
.fdivision1 img {
  position: absolute;
  z-index: 100;
  left: 536px;
  top: 5893px;
}
.fdivision2 img {
  position: absolute;
  z-index: 100;
  top: 5863px;
  left: 536px;
}
.top_table_female img {
  position: absolute;
  z-index: 100;
  left: 514px;
  top: 5830px;
}
.divisionf3 img {
  position: absolute;
  z-index: 100;
  left: 731px;
  top: 5829px;
}
.divisionf4 img {
  position: absolute;
  z-index: 100;
  left: 629px;
  top: 5813px;
}
.divisionf5 img {
  position: absolute;
  z-index: 100;
  left: 823px;
  top: 5826px;
}
.teef img {
  position: absolute;
  z-index: 100;
  left: 568px;
  top: 5842px;
}
.coursef img {
  position: absolute;
  z-index: 100;
  left: 660px;
  top: 5842px;
}
.slopef img {
  position: absolute;
  z-index: 100;
  left: 760px;
  top: 5842px;
}
.yardagef img {
  position: absolute;
  z-index: 100;
  left: 848px;
  top: 5842px;
}
.colorwhite img {
  position: absolute;
  z-index: 100;
  left: 537px;
  top: 5865px;
}
.redcorner img {
  position: absolute;
  z-index: 100;
  left: 536px;
  top: 5897px;
}
.background_services img {
  position: absolute;
  z-index: 100;
  left: 1013px;
  top: 5425px;
}
.services_text img {
  position: absolute;
  z-index: 100;
  left: 1090px;
top: 5489px;
}
.services_division img {
  position: absolute;
  z-index: 100;
  left: 1090px;
  top: 5515px;
}
.background_black img {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 6254px;

}
.text_flyover img {
  position: absolute;
  z-index: 100;
  left: 825px;
  top: 6395px;
}
.video_caption img {
  position: absolute;
  z-index: 100;
  left: 524px;
  top: 6512px;

}
.play_button img {
  position: absolute;
  z-index: 100;
  left: 952px;
  top: 6757px
}
.background_play img {
  position: absolute;
  z-index: 100;
  left: 921px;
top: 6740px;
}
.arrow_right img {
  position: absolute;
  z-index: 100;
  left: 1494px;
  top: 6753px;
}
.left_arrow img {
  position: absolute;
  z-index: 100;
  left: 458px;
  top: 6753px;
}
.number_of_videos img {
  position: absolute;
  z-index: 100;
  top: 7071px;
  left: 941px;
}
.iphone_background img {
  position: absolute;
  z-index: 100;
  left: 0px;
top: 7414px;
width: 100%;
}
.iphone_white_background img {
  position: absolute;
  z-index: 100;
  top: 7536.13px;
left: 368px;
}
.iphone img {
  position: absolute;
  z-index: 100;
  left: 410px;
  top: 7575.13px;
}
.now_available img {
  position: absolute;
  z-index: 100;
  top: 7857.13px;
left: 509px;
}
.text_iphone img {
  position: absolute;
  z-index: 100;
  left: 802px;
  top: 7606.13px;
}
.iphone_logo img {
  position: absolute;
  z-index: 100;
  top: 7764.13px;
  left: 800px;
}
.sandals_golf_courses img {
  position: absolute;
  z-index: 100;
  left: 0px;
top: 7959.13px;
width: 100%;
}
.footer img {
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 8539.13px;
  width: 100%;
}